ADMIN_TOKEN="long_random_string_here" # Replace with a secure random string for admin authentication
ADMIN_EMAIL="admin@example.com"       # Email address for the admin user, used for admin notifications
BREVO_API_KEY="YOUR_API_KEY"          # API key from Brevo (https://www.brevo.com/en/), used for sending emails
SENDER_NAME="Ticketing System"        # This name will appear in the email
SENDER_EMAIL="admin@example.com"      # This email must be verified in SendGrid
BASE_URL="http://localhost:8080"      # Base URL of your application, used in email links
